 
@{
    ViewBag.Title = "Trang Quản Lý";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="card shadow-sm p-3 mb-4">
            <h4 class="text-danger fw-bold">Thông tin quản lý</h4>
            <div class="text-center">
                <img src="~/image/Avarta.png" class="img-fluid rounded-circle" width="120">
                <div class="mt-2">
                    <a href="~/Admin/Trangthongtinquanly/Thongtinquanly" class="text-primary">Xem chi tiết</a>
                </div>
            </div>
            <ul class="list-group list-group-flush mt-3">
                <li class="list-group-item"><strong>MSQL:</strong> 2025001</li>
                <li class="list-group-item"><strong>Họ và Tên:</strong> Huỳnh Tiến Hiểu</li>
                <li class="list-group-item"><strong>Email:</strong> hienht@example.com</li>
                <li class="list-group-item"><strong>Vai trò:</strong> Quản lý</li>
            </ul>
        </div>
    </div>

    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4">
                <a href="TrangDKLD.html" class="text-decoration-none">
                    <div class="card shadow-sm text-center p-3 text-white mb-4">
                        <h6 class="Text-h6">Tạo lịch lao động</h6>
                        <img src="~/image/Create.png" class="img-Laodong" width="120">
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="~/Admin/ThongKe/ThongKe" class="text-decoration-none">
                    <div class="card shadow-sm text-center p-3 text-white mb-4">
                        <h6 class="Text-h6">Thống kê</h6>
                        <img src="~/image/Thongke.png" class="img-Laodong" width="120">
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="~/Admin/LichLaoDong/LichLaoDong" class="text-decoration-none">
                    <div class="card shadow-sm text-center p-3 text-white mb-4">
                        <h6 class="Text-h6">Lịch Lao Động</h6>
                        <img src="~/image/icons8-calendar.gif" class="img-Laodong" width="120">
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <a href="DuyetDK.html" class="text-decoration-none">
                    <div class="card shadow-sm text-center p-3 mb-4">
                        <h6>Điểm Danh Lao Động </h6>
                        <img src="~/image/Duyet1.png" class="img-Laodong" width="120">
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="~/Admin/Thongbao/ThongBao" class="text-decoration-none">
                    <div class="card shadow-sm text-center p-3 mb-4">
                        <h6>Thông báo</h6>
                        <img src="~/image/icons8-bell.gif" class="img-Laodong" width="120">
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="XacNhanHoanThanh.html" class="text-decoration-none">
                    <div class="card shadow-sm text-center p-3 mb-4">
                        <h6>Xác nhận hoàn thành</h6>
                        <img src="~/image/icons8-pdf-64.png" class="img-Laodong" width="120">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>



